h1 {
    color: red;
}
#p1 {
    color: orange;
}
#p2 {
    color: green;
}
#p3 {
    color: green;
}
#div1 {
    color: yellow;
}
#div2 {
    color: blue;
}
a {
    color: black;
}
a:link {
    color: purple
}
#a1 {
    color: yellow;
}